*{
    margin: 0;
    padding: 0;
}
header{
    background-color: rgb(0, 155, 0);
    text-align: center;
}
header h3{
padding-top:30px;
}
header h4{
    font-size: 3rem;
    color: white;
}
header h1{
    color: white;
    margin: 10px 0;
    font-size: 4rem;
}
.line{
    width: 300px;
    height: 1px;
    background-color: white;
    margin: 0 auto;
}
header > p{
    width: 800px;
    margin: 30px auto 0 auto;
    line-height: 25px;
}
.all{
    display: flex;
    justify-content: space-evenly;
    
    
}
.all p{
    padding: 10px 0;
    
}
.all div{
    
    border-right: 1px solid white;
    padding-right:100px;
    margin: 3vh 0 15px 0;
}
 